<header>
  <div class="header__main container">
    <img
      src="/images/logo.png"
      alt="logo"
      class="header__logo"
      draggable="false"
    />
    <div class="header__btns">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="/compose">Compose</a>
    </div>
  </div>
</header>
